<template>
  <div class="hello">
    <md-toolbar>
     <h1 class="md-title">{{ msg }}</h1>
   </md-toolbar>
   <hr>
    <md-button class="md-raised">Default</md-button>
    <md-button class="md-raised md-primary">Primary</md-button>
    <md-button class="md-raised md-accent">Accent</md-button>
    <md-button class="md-raised md-warn">Warn</md-button>
    <md-button class="md-raised md-primary" disabled>Disabled</md-button>
    <md-button class="md-raised md-dense">Dense</md-button>

    <h3>Dialog</h3>
    <md-dialog md-open-from="#custom" md-close-to="#custom" ref="dialog1">
  <md-dialog-title>Lorem ipsum dolor sit amet</md-dialog-title>

  <md-dialog-content>Nemo, nobis necessitatibus ut illo, ducimus ex.</md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-primary" @click.native="closeDialog('dialog1')">Cancel</md-button>
    <md-button class="md-primary" @click.native="closeDialog('dialog1')">Ok</md-button>
  </md-dialog-actions>
</md-dialog>

<md-dialog md-open-from="#fab" md-close-to="#fab" ref="dialog2">
  <md-dialog-title>Create new note</md-dialog-title>

  <md-dialog-content>
    <form>
      <md-input-container>
        <label>Note</label>
        <md-textarea></md-textarea>
      </md-input-container>
    </form>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-primary" @click.native="closeDialog('dialog2')">Cancel</md-button>
    <md-button class="md-primary" @click.native="closeDialog('dialog2')">Create</md-button>
  </md-dialog-actions>
</md-dialog>

<md-button class="md-primary md-raised" id="custom" @click.native="openDialog('dialog1')">Custom</md-button>
<md-button class="md-fab md-fab-bottom-right" id="fab" @click.native="openDialog('dialog2')">
  <md-icon>add</md-icon>
</md-button>
<hr>
<h3>Progress Bar</h3>
<md-progress md-theme="orange" md-indeterminate></md-progress>
<md-progress md-theme="green" :md-progress="progress"></md-progress>
<md-progress md-theme="purple" md-indeterminate></md-progress>
<hr>
<h3>Toolbar</h3>
<md-toolbar>
  <md-button class="md-icon-button">
    <md-icon>menu</md-icon>
  </md-button>

  <h2 class="md-title" style="flex: 1">Default</h2>

  <md-button class="md-icon-button">
    <md-icon>favorite</md-icon>
  </md-button>
</md-toolbar>

<md-toolbar class="md-dense">
  <md-button class="md-icon-button">
    <md-icon>menu</md-icon>
  </md-button>

  <h2 class="md-title" style="flex: 1">Dense</h2>

  <md-button class="md-icon-button">
    <md-icon>favorite</md-icon>
  </md-button>
</md-toolbar>

<md-toolbar class="md-medium">
  <div class="md-toolbar-container">
    <md-button class="md-icon-button">
      <md-icon>menu</md-icon>
    </md-button>

    <h2 class="md-title" style="flex: 1;">Medium</h2>

    <md-button class="md-icon-button">
      <md-icon>search</md-icon>
    </md-button>

    <md-button class="md-icon-button">
      <md-icon>filter_list</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar class="md-large">
  <div class="md-toolbar-container">
    <md-button class="md-icon-button">
      <md-icon>menu</md-icon>
    </md-button>

    <span style="flex: 1;"></span>

    <md-button class="md-icon-button">
      <md-icon>search</md-icon>
    </md-button>

    <md-button class="md-icon-button">
      <md-icon>filter_list</md-icon>
    </md-button>
  </div>

  <div class="md-toolbar-container">
    <h2 class="md-title">Large</h2>
  </div>
</md-toolbar>
<hr>
<h3>Tooltip</h3>
<div>
  <md-button class="md-icon-button md-raised md-primary">
    <md-icon>folder</md-icon>
    <md-tooltip md-delay="400" md-direction="top">My tooltip</md-tooltip>
  </md-button>

  <md-avatar>
    <img src="assets/avatar-2.jpg" alt="People">
    <md-tooltip md-delay="400" md-direction="bottom">My tooltip</md-tooltip>
  </md-avatar>
</div>
<div>

  <md-button class="md-icon-button md-raised md-warn">
    <md-icon>home</md-icon>
    <md-tooltip md-delay="400" md-direction="left">My tooltip</md-tooltip>
  </md-button>

  <md-avatar class="md-avatar-icon">
    <md-icon>person</md-icon>
    <md-tooltip md-delay="400" md-direction="right">My tooltip</md-tooltip>
  </md-avatar>
</div>
<hr>
<router-link to="/tabs">Visit tabs page</router-link>
<div id="comp-tabs">
  <tabs>Tabs module import</tabs>
</div>
</div>

</template>
<script>
import Tabs from '@/components/Tabs'
export default {
  name: 'hello',
  components: {
    'tabs': Tabs
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
    openDialog (ref) {
      this.$refs[ref].open()
    },
    closeDialog (ref) {
      this.$refs[ref].close()
    },
    onOpen () {
      console.log('Opened')
    },
    onClose (type) {
      console.log('Closed', type)
    }
  }
}
</script>
