<template>
<div class="homepage">
  <header>
    <navigation>Navigation</navigation>
  </header>
<md-card v-for="mycity in cities" :key="mycity.cityID">
  <md-card-header>
    <md-card-header-text>
      <div class="md-title">
       {{mycity.cityName}}
      </div>
      <div class="md-subhead">{{mycity.cityRegion}} </div>
    </md-card-header-text>
    <md-card-media md-big>
      <img src="../assets/card-weather.png" alt="">
    </md-card-media>
  </md-card-header>
  <md-card-actions>
    <!-- Component add to favorites -->
    <div class="component-fav">
      <favorites :cityObj="mycity.cityName"></favorites>
    </div>
  
  </md-card-actions>
</md-card>
</div>
</template>
<!-- JS-> Export -->
<script>
  import Navigation from '@/components/Nav'
  import {HTTP} from '../../src/router/index'
  var params = {
    URLCITIES: 'http://localhost:3000/cities'
  }
  export default {
    name: 'homepage',
    components: {
      'navigation': Navigation
    },
    data: () => ({
      cities: [],
      errors: [],
      totalClicks: 0
    }),
    methods: {
      toggleFavorite: function (x) {
      }
    },
    created () {
      HTTP.get(params.URLCITIES)
      .then(response => {
        this.cities = response.data
        console.log(this.cities)
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  }
</script>
