<template>
  <div class="loginform">
    <p>{{txtLogin}}</p>
    <form novalidate @submit.stop.prevent="submit">
      <md-input-container>
        <label>Password</label>
        <md-input @keyup.native="checkPassWords()" v-model="password" type="password"></md-input>
      </md-input-container>
      <md-input-container md-has-password>
        <label>Confirm your password</label>
        <md-input @keyup.native="checkPassWords()" v-model="confirmPassWord" type="password"></md-input>
      </md-input-container>
      <div class="passmin" v-if="showPassInfo">
        {{passMinMsg}} {{passMinLength}}
      </div>
      <md-button ref="sendButton" class="md-raised md-primary" disabled>Log in</md-button>
      <md-checkbox id="rememberme" name="rememberme">Remember me</md-checkbox>
    </form>
  </div>
</template>
<script>
  export default {
    name: 'loginForm',
    data () {
      return {
        showPassInfo: false,
        txtLogin: 'This is the login page',
        password: '',
        confirmPassWord: '',
        passMinLength: 8,
        passMinMsg: 'Your password must be longer than '
      }
    },
    methods: {
      checkPassWords: function () {
        let sendBtn = this.$refs.sendButton
        let passOne = this.password
        let passTwo = this.confirmPassWord
        if ((passOne !== passTwo) || (passOne === '' || passTwo === '') || (passOne.length < this.passMinLength)) {
          sendBtn.disabled = true
          if ((passOne.length < this.passMinLength) && (passTwo.length < this.passMinLength)) {
            this.showPassInfo = true
          } else {
            this.showPassInfo = false
          }
        } else {
          sendBtn.disabled = false
        }
      }
    }
  }
</script>
