<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
  export default {
    name: 'app'
  }
</script>
<!-- Main css entry point -->
<style lang="scss" src="./sass/app.scss"></style>
